<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="form">
  <form action="/render" method="get">
    <input class="w3-input w3-border" type="text" id="hash" name="hash" placeholder="Enter Hash"><br>
    <input class="button-17" role="button" type="submit" value="Create Code" />
  </form>
</div>

{% if qr %}
  <img id="barcode" src={{qr}} title="SHA256" width="500" height="500"/>
{% else %}
  <img src="{{ url_for('static', filename= 'images/Sha256.png') }}" alt="placeholder" width="1024" height="512"/>
{% endif %}

</body>
</html>

